.missionBloge {
  padding: 30px 0px 60px 0px;
  .missionContainer {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    .missionLable {
      color: #4094ed;
      font-size: 14px;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
    }
    .missionP {
      color: #333647;
      font-weight: 200;
      line-height: 1.2;
      font-size: 40px;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        font-size: 1.5em;
      }
      > span {
        font-weight: 700;
      }
    }
    .missionText {
      margin-bottom: 10px;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
      .textLeft {
        float: left;
        > span {
          font-weight: 100 !important;
          color: #95a4ac !important;
          font-size: 1.4em !important;
        }
      }
      .textRight {
        float: right;
        > span {
          font-weight: 100 !important;
          color: #95a4ac !important;
          font-size: 1.4em !important;
        }
      }
    }
  }
}
