@import "/src/sass/variable.scss";
.mainBanner {
  background-image: url(../../../image/banner-bg-1.png);
  z-index: 1;
  position: relative;
  padding: 215px 0px 100px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  .bannerContainer {
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 1200px;

    .bannerCol {
      margin-bottom: 30px;
      @media (max-width: 1023px) {
        text-align: center;
      }

      .bannerText {
        padding-top: 100px;

        > h4 {
          font-size: 18px;
          color: $brightblue;
          text-transform: capitalize;
          margin-bottom: 30px;
        }

        > h2 {
          font-size: 36px;
          font-weight: 300;
          color: $darkgray;
          margin-bottom: 15px;

          > span {
            font-weight: bold;
          }
        }
        > p {
          font-size: 18px;
          margin-bottom: 50px;
          color: #6f8ba4;
        }
        .textEvent {
          font-weight: 400;
          color: $brightblue;
        }
        > span {
          padding: 14px 32px;
          line-height: 28px;
          background: #f4f9fe;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid $brightblue;
          color: $darkgray;
          text-transform: uppercase;
          text-align: center;
          font-family: "Heebo", sans-serif;
          border-radius: 4px;
          .textIcon {
            margin-left: 6px;
            font-size: 14px;
          }
        }
        // :hover > span {
        //   background: $brightblue;
        //   color: white;
        // }
        .buttonGetStarted{
          border:1px solid #9eb6c9;
          border-radius: 8px;
        }
        .buttonGetStarted:hover{
          background-color: #6f8ba4;
          color: white; 
        }
      }
    }
    .imageCol {
      @media (max-width: 1023px) {
        display: none;
      }
      .colImage {
        width: 100% 
        // margin-bottom: 30px;
      }
    }
  }
}
