@import "/src/sass/variable.scss";
.ourServices {
  padding: 60px 0;
  .container {
    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
    padding: 0 15px;
    margin: 0 auto;
    .sectionTitle {
      text-align: center;
      @media (max-width: 767px) {
        width: auto;
      }
      .title {
        font-size: 38px;
        position: relative;
        font-weight: 600;
        color: $darkgray;
        text-align: center;
        margin-bottom: 49px;
        margin-top: 0;
        letter-spacing: 1.5px;
      }
      .title::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 70px;
        background: $brightblue;
        bottom: -23px;
        left: 50%;
        margin-left: -35px;
      }
      > p {
        font-size: 17px;
        margin-bottom: 51px;
        letter-spacing: 0.2px;
        font-weight: 300;
        line-height: 26px;
      }
    }
    .seervicesFl {
      margin-top: 60px;
      .servicesBox {
        padding: 40px 15px 0;
        .featuredDetails {
          .servicesThumb {
            background-color: #fff;
            width: 100px;
            margin: 0 auto;
            height: 100px;
            border-radius: 50px;
            box-shadow: 0 13px 24px -5px #a1a1a1;
            .thumbs {
              padding-top: 33px;
              text-align: center;
              > img {
                width: 35px;
                max-width: 100%;
              }
            }
          }
          .media {
            overflow: hidden;
            zoom: 1;
            margin-top: 15px;
            .servicesF {
              .title {
                margin: 25px;
                text-align: center;
                color: $darkgray;
                font-size: 22px;
              }
              > hr {
                height: 1px;
                color: $brightblue;
                background-color: $brightblue;
                margin-top: 20px;
                margin-bottom: 20px;
                border: 0;
                border-top: 1px solid #eee;
              }
              > p {
                font-size: 15px;
                color: $darkgray;
                letter-spacing: 0.2px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 30px;
                line-height: 26px;
              }
            }
          }
        }
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
