.navbar {
  position: relative;
  top: 30px;
  left: 0px;
  width: 100%;
  transition: all 300ms ease;
  .setNavbar {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: auto;
    .logoBox {
      padding: 15px 0;
      .companyLogo {
        height: 36px;
      }
    }
    .responsiveMenu {
      color: black;
      height: 20px;
      width: 20px;
    }
    .menubar {
      border-bottom: none !important;
      display: flex;
      justify-content: end;
      font-family: "Heebo", sans-serif;
      background: none;
      // @media (max-width: 1024px) {
      //   display: none;
      // }
    }
    .hamburgerMenu {
      display: none;
      @media (max-width: 1024px) {
        display: block;
        font-size: 2rem;
        text-align: end;
      }
    }
  }
}

.anticon-ellipsis {
  font-size: 18px;
}
