.scrolledNav {
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 300ms ease;
  border-bottom: 1px solid rgb(221, 233, 245);

  .setNavbar {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: auto;
    .logoBox {
      padding: 15px 0;
      .companyLogo {
        height: 36px;
      }
    }
    .menubar {
      border-bottom: none !important;
      display: flex;
      justify-content: end;
      // font-family: "Heebo", sans-serif;
      background: none;
    }
  }
}

.navbar {
  position: relative;
  top: 30px;
  left: 0px;
  width: 100%;
  transition: all 300ms ease;

  .setNavbar {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: auto;
    .logoBox {
      padding: 15px 0;
      .companyLogo {
        height: 36px;
      }
    }

    .menubar {
      border-bottom: none !important;
      display: flex;
      justify-content: end;
      // font-family: "Heebo", sans-serif;
      background: none;
    }
  }
}
