@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Josefin+Sans:ital,wght@0,100;0,500;1,100&family=Montserrat:wght@400;500&family=Poppins:wght@100&family=Quicksand:wght@300&display=swap");
.App {
  text-align: center;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  bottom: -80px;
  width: 40px;
  display: none !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11111;
  border-radius: 50%;
  background-color: #70bef7;
  &__inactive {
    > span {
      &::after {
        color: white;
      }
    }
  }
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
  color: white;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    color: #282c34 !important;
  }
}
.alice-carousel__prev-btn {
  right: 60px;
}
.alice-carousel__next-btn {
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: "Inter", sans-serif !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
